{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
  <div class="row">
    <h2>Примеры моих работ на Github:</h2>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="https://github.com/TroutBBBoy/ShifrCezarya">Шифр Цезаря</a></p
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="https://github.com/TroutBBBoy/Viselica">Виселица</a></p>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3">
        <p><a href="https://github.com/TroutBBBoy/Ugodaika/">Угодайка</a></p>
      </div>
    </div>
  </div>
{% endblock %}