{% extends "base.html" %}
{% load thumbnail %}
{% block title %}
  {% if edit_post %}
    Редактирование записи
  {% else %}
    Новая запись
  {% endif %}
{% endblock %}
{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        <div class="card-body">
          {% include "includes/errors_check.html" %}
            {% if edit_post %}
              <form method="post" action="{% url 'posts:post_edit' post_id %}" enctype="multipart/form-data">
            {% else %}
              <form method="post" action="{% url 'posts:post_create' %}" enctype="multipart/form-data">
            {% endif %}
              {% csrf_token %}
              {% include "includes/fields_in_form.html" %}
                <div class="col-md-6 offset-md-4">
                  <button type="submit" class="btn btn-primary">
                    {% if edit_post %}
                      Сохранить
                    {% else %}
                      Добавить
                    {% endif %}
                  </button>
                </div> 
          </form>
        </div> 
      </div> 
    </div> 
  </div>
{% endblock %}